body{  
    background-color: rgb(219, 238, 179);
}
#navigation-bar{
    position: fixed; 
    height: 70px;
    width: 100%;
    left: 0px; 
    top: 0px;
    background-color: rgb(196,213,203);
    border-bottom:black 6px solid; 
}
#bar{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;

}
.navigator{
    margin-top:25px;
    margin-right: 0px;
    margin-left: 0px; 
}
.nav-btn{
    width: 100%;
    font-size: 20px;
    color: yellow;
    height: 70px;
    margin-top: -30px;
    background-color: rgb(196,213,203);
    border: rgb(196,213,203) 0px solid;
}
.nav-btn:hover{
    animation-name:color-change;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
@keyframes color-change{
    0%{
        background-color: rgb(196,213,203);
    }
    100%{
        background-color: darkseagreen;
        transform: scale(125%);
    }
}
#logo{
    width: 45%;
    background-color: rgb(196,213,203);
    margin-left: 100px;
    margin-top: 0px; 
}
#logo:hover{
    animation-name: img-change;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
@keyframes img-change{
    0%{
        transform: scale(100%);
    }
    100%{
        transform: scale(125%);
    }
}
